.search{
    padding: 2rem;
    width: 300px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 4px;
}
.search-btn{
    color: #fff;
    background: #e74c3c;
    padding: 8px 5rem;
    border: 0;
    border-radius: 2px;
}
.location-title{
    width: 220px;
    height: auto;
    background-color: #e74c3c;
    text-align: left;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}
.search-input{
    margin-left: 12px;
}
.location-input{
    width: 212px;
}