.home-design{
    background-image: url('../../images/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: -2;
}
.main-content{
    margin-top: 15rem;
    display: flex;
    justify-content: space-around;
}