.create-account{
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid gray;
    width: 320px;
    height: auto;
    padding: 20px;
}
.account-btn{
    display: flex;
    text-align: center;
    margin-left: 30px;
}
.google-btn{
    background-color: rgb(105, 172, 172);
    padding: 8px 10px;
    color: #fff;
    border: 0;
    border-radius: 4px;
}
.create-log-btn{
    background-color: #e74c3c;
    padding: 8px 40px;
    color: #fff;
    border: 0;
    border-radius: 4px;
}
